#home_content,#balance,#credits,#debit,#stat{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#balance h1{
    font-size: 100px !important;
}
#trans h3{
    color: rgb(46, 54, 51);
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#credits,#debit{
    text-align: left;
}
#trans{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.navbar-nav .nav-link.active {
    background-color: lightblue !important;
    color: black !important; 
    border-radius: 5px; 
}
.red{
    color: rgb(183, 128, 60);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}