#home_content,#balance,#credits{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#balance h1{
    font-size: 100px !important;
}
#trans h3{
    color: rgb(46, 54, 51);
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#credits{
    text-align: left;
}
#trans{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}